body {
    background-color: #000A1A;
    height: 100vh;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.btn {
    border-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    border-radius: 8px;
    background-color: #0058a0;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #014c89;
}

.btn:active {
    background-color: #002c4f;
}

.btn.secondary {
    background-color: #1f2426;
    color: white;
}
.btn.secondary:hover {
    background-color: #2c3336;
}
.btn.secondary:active {
    background-color: #2b3646;
}

.head {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

.foot {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

.phat-bod {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: row;
}

#converter-select {
    min-width: 350px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: #00233e;
    color: #FAFAFA;
    border: 1px solid #265c91;
    border-radius: 8px;

}

.txt-container {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    padding: 0.5rem;
}

.txt-container textarea {
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    background-color: #00233e;
    color: #FAFAFA;
    border: 1px solid #265c91;
    border-radius: 8px;

}

.flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.fill {
    flex-grow: 1;
}

.p1 {
    padding: 1rem;
}

#converter-type {
    color: #999999;
    font-size: small;
}

#converter-desc {
    color: #BBBBBB;
    font-weight: bold;
}